/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdf5f8; /* Rosa claro */
    color: #333;
}

/* Encabezado */
header {
    background-color: #ffcad4;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

/* Secciones */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h3 {
    color: #ff6f91;
}

.perfil-img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

/* Listas */
ul, ol {
    margin-left: 20px;
}

/* Enlaces */
a {
    color: #ff6f91;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #ffcad4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
